html, body {
    width: 1192px;
    height: 100%;
    background-color: #3a4965;
}
table, td, th {
    /*background: #fafafa;*/
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
}
td, th {
    height: 69px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
th:first-child, td:first-child {
    width: 310px;
}
table {
    width: 1144px;
    margin: 24px 30px 31px 22px;
}
.gray {
    font-family:  ﻿Arimo;
    background-color: #e3e3e3;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    text-transform: uppercase;

}
td{
    font-family: inherit;
}
.light_gray {
    font-family:  ﻿Arimo;
    background-color: #f2f2f2;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    text-transform: uppercase;
}
.standart {
    background-color: #89c331;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
.ultimate {
    background-color: #f04a56;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier;
    font-size: 30px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
.premium {
    background-color: #20807c;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
.price,.first-child {
    background-color: #fafafa;
}