html, body{
    height: 100%;
}
.section{
    background-image: url(../img/main_background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.container {

    /*width: 1366px;*/
    /*height: 100%;*/


}

.header {
    justify-content: space-between;
    display: flex;
    height: 56px;
    background-color: rgba(0, 0, 0, .5);
}

.header-name {
    text-decoration: none;
    margin-left: 81px;
}

.header-name :hover {
    color: #3cb878;
}

.icons-menu {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    padding: 20px;
    margin-right: 75px;
}

.icons-block {
    margin-right: 50px;
}

.icons-anckor {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
}

.content-anckor {
    text-decoration: none;
    color: white;
}

.content-anckor :hover {
    color: #3cb878;
}

.icons-anckor:hover {
    color: #3cb878;
}

.icons {
    display: inline-block;
    margin-left: 20px;
}




.line-or {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    padding-left: 63px;
    padding-right: 63px;
    padding-bottom: 20px;
}

.line {
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
}

.wrapper {
    /*margin-left: 63px;*/
    /*margin-right: 63px;*/
    /*border: 2px solid black;*/
}

.logo {
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier;
    font-size: 20pt;
    color: white;
    opacity: 1;
    text-align: left;
    /*margin-left: 81px;*/
    padding-top: 17px;
}

.check-in {
    position: relative;
    background-color: #fff;
    width: 444px;
    /*height: 584px;*/
    border-radius: 8px;
    margin: 0 auto;

}

.header-checkin {
    margin-left: 63px;
    margin-right: 63px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.social_networks {
    width: 322px;
    height: 46px;
    margin-left: 63px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.header-checkin > div {
    display: inline-block;
    margin-top: 29px;
}

.green-box {
    position: absolute;
    top: 29px;
    background-color: #3cb878;
    width: 18px;
    height: 18px;

}

.header-checkin2 {
    /*margin-left: 42px;*/
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    text-align: center;
}

.header-checkin3 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
    text-align: left;
    text-decoration: underline;
}

.social_networks > div {
    border-radius: 3px;
}

.facebook {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #305db8;
    width: 157px;
    height: 46px;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 16px;
}

.google {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 16px;
}

.checkbox {
    display: flex;
    margin-right: 63px;
    margin-left: 63px;
    margin-top: 21px;
    flex-direction: column;
    justify-content: space-around;
    width: 322px;
    /*height: 384px;*/
}

.field:hover {
    box-shadow: #55636d;


}

.privet {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 22px;

}

p > input {
    margin-top: 9px;
    width: 322px;
    height: 46px;
    font-size: 14px;
    /*font-size: 45px;*/
}

a {
    text-decoration: none;
}

.terms {
    color: #000;
}

.terms:hover {
    color: #3cb878;
    text-decoration: underline;
}

input {
    display: inline-block;
}

input::placeholder {
    padding-left: 20px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(190, 190, 190, 255);
}

.agree {
    display: inline-block;
    margin: 0;
}

.create {
    width: 322px;
    /*height: 116px;*/
    background-color: #329a65;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 28px;
    margin-bottom: 32px;
    border: 0px;
    border-radius: 5px;
    padding: 30px 0;
}



p {
    display: inline-block;
}

.custinput{
    padding: 30px 0;
    margin-top: 15px;

}