
body {
    background-image: url("../img/background.png");
    height: 100vh;
}

.clear::after{
    content:'';
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
    width: 1059px;
}

.logo {
    margin-top: 25px;
}

.logo-castle {
    display: inline-block;
    width: 46px;
    height: 44px;
    background-image: url("../img/logo@1X.png");
    padding-right: 50px;
    background-repeat: no-repeat;
    text-decoration: none;

}

.logo-castle:hover {
    background-image: url(../img/logo_orange.png)
}

.logo-name {
    font-size: 29px;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    line-height: 22px;
    padding-left: 50px;

}

.logo-name:hover {
    color: #f26522;

}

a {
    display: inline-block;
}

span {
    font-size: 18px;

}

.contacts {
    display: inline-block;
    color: #fff;
    float: right;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    text-align: right;
}

.content-item {
    /*display: inline-block;*/
    float: left;
    width: 307px;
    height: 200px;
    margin-bottom: 58px;
    margin-top: 48px;

}

.mr {
    margin-right: 69px;
}

.tours {
    display: inline-block;
    /*padding-right: 20px;*/
    width: 307px;
    height: 200px;
    /*background-size: 100%;*/
}

img {
    width: 307px;
    height: 200px;
}

.description {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 22px;


}

.hover {
    width: 307px;
    height: 63px;
    background-color: #f26522;
    margin-top: 137px;
    opacity: 0;
}

.content-item a:hover .hover {
    opacity: 1;
}

.content-item a:hover .description {
    color: #f26522;
}

.copyright {
    font-family: ﻿﻿Verdana;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 61px;
    height: 12px;

}

