
.container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    /*font-weight: 700;*/
}
.menu {
    padding: 35px 0px;
}
.menu-item{
    display: inline-block;
    margin-right: 65px;
}
.menu-item-link{
    text-decoration: none;
    color: #73c6b6;
    font-size: 18px;
    text-transform: uppercase;
    font-family:  ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-weight: 700;
}

.content {
    background: #f5f6f7;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    margin: 0 auto;
}

.img-top {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    text-align: center;
    padding-top: 35px;
    margin-bottom: 35px;

}

.start {
    width: 192px;
    height: 51px;
    margin-top: 41px;
    margin-bottom: 94px;
    text-transform: uppercase;
    background-color: #16a085;
    font-size: 16px;
    text-align: center;
    color: white;
}

.all_rights {
    height: 108px;
    padding-left: 768px;
    padding-top: 45px;
    margin-right: 104px;
    margin-bottom: 45px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);

}
