/* COMMON STYLES START */

.container {
    width: 1280px;
    margin: 0 auto;
}

/* COMMON STYLES END */

/* HEADER START */

.header {
    margin-bottom: 51px;
}
.nav {
    width: 1280px;
    height: 69px;
    margin: 0 auto;
    text-align: center;
}

.name {
    margin-bottom: 51px;
}

.name a {
    text-decoration: none;
    color: black;
    text-align: left;
    margin-top: 61px;
    font-size: 80px;
}

.menu {
    background-color: #35444f;
    height: 69px;
    padding: auto;
}

.menu-item {
    display: inline-block;
    padding: 22px;
    border: 1px solid transparent;
}

.menu-item:hover {
    background-color: black;
    color: #fff;
    border: 1px solid #ffffff;

}

.menu-item-link {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
    margin: 0 auto;
}

/*-- HEADER END--*/

/*--MAIN CONTENT START--*/
.main_container {
    /*display: inline-block;*/
    width: 1280px;
    /*padding-top: 71px;*/
    margin-top: 51;
    margin-left: 100px;
}

/*--LEFT SIDEBAR START--*/
.left_sidebar {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #35444f;
    width: 342px;
    vertical-align: top;
}

.left_menu {
    text-decoration: none;
}

.left_menu_link {
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 29.99244px;
    color: #55636d;
}

.left_menu_link a {
    box-sizing: border-box;
    display: block;
    height: 81px;
    padding-top: 25px;
    padding-left: 44px;
    color: #55636d;
}

.left_menu_link a:hover {
    background-color: #dbdbdb;
    color: black;
    font-weight: 700;
    padding-left: 64px;
}

/*--LEFT SIDEBAR END--*/

/*--BLOCK WITH SHEEP START--*/
.logo {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 49px;
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
}

.taurus {
    display: block;
    margin: 0 auto;
    padding: 71px;
}

/*--BLOCK WITH SHEEP END--*/

/*--CONTENT START--*/
.content {
    box-sizing: border-box;
    width: 885px;
    margin-top: 50px;
    margin-right: 139px;
    margin-left: 393px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
}

/*--CONTENT END--*/

/*--FOOTER START--*/

.container-footer {
    background-color: #b4b7ba;
    margin-top: 51px;
    margin-bottom: 30px;
    height: 69px;
}

.footer {
    display: inline-block;
    width: 806px;
    margin-left: 44px;
    margin-top: 12px;
}

.footer > a {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    padding: 7px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    color: rgba(12, 25, 39, 255);
}

.footer > a:hover {
    color: #3181a6;
    text-decoration: underline;
}

.footer-copyright {
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 24px;
    color: rgba(1, 1, 1, 255);

}

.footer-span {
    display: inline-block;
    padding-right: 10px;
    margin-left: 200px;

}

/*--FOOTER END--*/